{% extends "templates/base.html" %}
{% block topNav %}
    <nav name="top">
        <a href="/">Home</a> |
        <a href="/#service">Service</a> |
        <a href="/#party">Party</a> |
        <a href="/#celebrate">Regional Celebrations</a> |
        <a href="/#accommodations">Accommodations</a> |
        <a href="/registry">Registry</a> |
        <a href="/rsvp">RSVP</a> |
        <a href="/messageboard">Message Board</a>
    </nav>
{% endblock %}
{% block bottomNav %}
    <footer>
        <nav name="bottom">
            <a href="/">Home</a> |
            <a href="/#service">Service</a> |
            <a href="/#party">Party</a> |
            <a href="/#celebrate">Regional Celebrations</a> |
            <a href="/#accommodations">Accommodations</a> |
            <a href="/registry">Registry</a> |
            <a href="/rsvp">RSVP</a> |
            <a href="/messageboard">Message Board</a>
        </nav>
        <p>Please don&#8217;t ask if you can design this website.</p>
        <blockquote>
            <p>
                <em>The Smith&#8217;s meer  and the shoemaker&#8217;s bairns are 
                aye the worst shod.</em>
            </p>
            <footer>
                &nbsp;&nbsp;&nbsp;   &mdash;&mdash;1773 R. Graves Spiritual Quixote I. iii. ii.
            </footer>
        </blockquote>
        <p class="small">
            Like this site? <a href="https://github.com/jarederaj/app-wedding">
            Fork it out on github</a>, modify it to fit your own needs, and 
            deploy it on <a href="https://appengine.google.com/">Google&#8217;s 
            Appengine</a>.
        </p>
    </footer>
{% endblock %}
