{% extends "templates/baseNav.html" %}
{% block content %}
<article>
    <p>
        We&#8217;re getting married on Sunday, August 17, 2014 at 2:30 PM MST.
    </p>
    <p>
        We like to think of this as simply a church service and a party. 
        The church service is at 
        <a target="_blank" href="https://www.google.com/maps/preview?client=ubuntu&channel=fs&oe=utf-8&ie=UTF-8&fb=1&gl=us&cid=16712967341551596114&q=Christ+Our+Hope+Anglican+Church&ei=doy9U8y5K8GGyASWx4JY&ved=0CH8Q_BIwCg">
            Christ Our Hope Anglican Church in Fort Collins</a>, and the party is in 
        <a target="_blank" href="https://www.google.com/maps/place/3539+County+Road+32/@40.219234,-104.988395,17z/data=!3m1!4b1!4m2!3m1!1s0x876c072ad8f873f1:0x80ec34fda9a0e424">
            Mark and Emily Maeda&#8217;s front yard in Mead, Colorado</a>.
    </p>
    <p>
        Be aware that our wedding is the same weekend as <a
            href="http://downtownfortcollins.com/events/bohemian-nights-at-newwestfest">
        Bohemian Nights at NewWestFest!</a> So, plan for that.
    </p>
    <hr/>
</article>
<article>
    <a name="service" href="#top"><h1>Service </h1></a>
    <p>
        Attire: Casual Sunday Dress
    </p>
    <p>
        We&#8217;ll say &#8220;I will&#8221; at Christ Our Hope 
        Anglican Church with beautiful music and ancient liturgy. Much 
        like any ordinary Sunday at our church, this traditional 
        Anglican service will have two parts: the liturgy of the word 
        (where we say our vows, have some readings and prayers) and the 
        liturgy of the table (Eucharist or communion service).
    </p>
    <hr/>
</article>
<article>
    <a name="party" href="#top"><h1>Party</h1></a>
    <p>
        Our friends, Mark and Emily Maeda, generously offered their 
        front yard for a reception after the ceremony. We&#8217;ll have 
        plenty of food and beer in a happy place with our friends 
        and family. Kid and adult&ndash;friendly. Wear sensible shoes 
        or kick your shoes off.
    </p>
    <p>
    <a target="_blank" href="https://www.google.com/maps/place/3539+County+Road+32/@40.219234,-104.988395,17z/data=!3m1!4b1!4m2!3m1!1s0x876c072ad8f873f1:0x80ec34fda9a0e424"> 
        Go to the Maeda&#8217;s house in Mead</a>, about 30 minutes south of 
    Fort Collins.
    <p>
    <hr/>
</article>
<article>
    <a name="celebrate" href="#top"><h1>Regional Celebrations</h1></a>
    <p>
        We realize that a two&ndash;month long engagement means not 
        everyone can make it to the actual 
        ceremony&mdash;&mdash;that&#8217;s okay! We&#8217;re also 
        celebrating in Texas (Labor Day Weekend) and Oregon (Date TBD) 
        for family and friends. More information to come.
    </p>
    <hr/>
</article>
<article>
    <a name="accommodations" href="#top"><h1 >Accommodations</h1></a>
    <p>
        Somebody claimed they were able to get a room at The Marriot through 
        Priceline with a lowball bid of $65/night.
    </p>
    <p>
        More info to come.
    </p>
    <hr/>
</article>
<article>
    <a name="registry" href="#top"><h1>Registry</h1></a>
    <a target="_blank"
        href="http://www.myregistry.com/wedding-registry/Laura-Price-Jared-Hall-Fort-Collins-CO/697984">
        MyRegistry.com List</a> |
    <!--<a target="_blank"
        href="http://www.yourweddingregistry.com/merchgift/gl.asp">-->
        The Kitchenette List<!--</a>-->

    <p>
        Jared doesn&#8217;t like fancy internet things but didn&#8217;t 
        bother to build something simple instead. (It would be nice if you 
        went to that page and saw all the clever things there, but it&#8217;s a 
        shell of its former glory.)
    </p>

    <p>
        Laura encouraged Jared to use one fancy internet tool, 
        <a target="_blank"
            href="http://www.myregistry.com/wedding-registry/Laura-Price-Jared-Hall-Fort-Collins-CO/697984">
        myregistry.com</a>.
        We registered for items at various stores, and it&#8217;s 
        available in one list at <a target="_blank"
            href="http://www.myregistry.com/wedding-registry/Laura-Price-Jared-Hall-Fort-Collins-CO/697984">
            myregistry.com</a>. If you want to do this in the most painless 
        way possible, just go there. Or, view the list of stores where we 
        have registered for items.
    </p>

    <p>
        We're registered for many of our kitchen items at
<!--        <a target="_blank"
            href="http://www.yourweddingregistry.com/merchgift/gl.asp">-->
        The Kitchenette<!--</a> -->
        in Price Hardware in Atlanta, Texas. Items can be shipped easily. 
    </p>
    <p>
        Our complete list of registries, as well as other confusing babbling, 
        is available <a href="/registry">here</a>. 
    </p>
    <hr/>
</article>
<article>
    <a name="rsvp" href="/rsvp"><h1>RSVP</h1></a>
    <p>
        You only need to <a href="/rsvp">RSVP once</a>. If you badger me about 
        it I can add a feature that allows you to review what you added there.
    </p>
</article>

{% endblock %}
