{% extends "templates/baseNav.html" %}
{% block content %}
    <h1>Registry</h1>
    <a href="#artists">
        Artists</a> |
    <a href="#sirens">
        All Lists</a> | 
    <a target="_blank"
        href="http://www.myregistry.com/wedding-registry/Laura-Price-Jared-Hall-Fort-Collins-CO/697984">
        MyRegistry.com</a> |
    <!--<a target="_blank"
        href="http://www.yourweddingregistry.com/merchgift/gl.asp">-->
        The Kitchenette<!--</a>-->

    <p>
        Jared doesn&#8217;t like fancy internet things but didn&#8217;t 
        bother to build something simple instead. (It would be nice if you 
        went to <a href="messageboard">that page</a> and saw all the clever 
        things there, but it&#8217;s a shell of its former glory.)
    </p>

    <p>
        Laura encouraged Jared to use one fancy internet tool, 
        <a target="_blank"
            href="http://www.myregistry.com/wedding-registry/Laura-Price-Jared-Hall-Fort-Collins-CO/697984">
        myregistry.com</a>.
        We registered for items at various stores, and items not available at The Kitchenette are
        available in one list at <a target="_blank"
            href="http://www.myregistry.com/wedding-registry/Laura-Price-Jared-Hall-Fort-Collins-CO/697984">
            myregistry.com</a>. If you want to do this in the most painless 
        way possible, just go there. Or, view the list of stores where we 
        have registered for items.
    </p>

    <p>
        We&#8217;re registered for many of our kitchen items at
<!--        <a target="_blank"
            href="http://www.yourweddingregistry.com/merchgift/gl.asp">-->
        The Kitchenette<!--</a> -->
        in Price Hardware in Atlanta, Texas. Items can be shipped easily. 
    </p>
    <p>
        Our complete list of registries is below. 
    </p>

<a  name="artists" href="#top"><h2>Artists and artwork</h2></a>
<p>
    There&#8217;s a backstory here: friends of ours recently got married and 
    apparently received artwork that they hadn&#8217;t asked for and 
    didn&#8217;t want. If you  choose to give art, we would like to a) support 
    local artists and b) get pieces that we love. 
</p>  
<p>
    Please be sensitive to the schedules and concerns of artists. We do not 
    need a lot of art and do not have many walls to put it on. 
</p>  
<p>
    <strong>Photography: Gabriele Woolever</strong><br/>
    (970) 690-4692
</p>
<p>
    <strong>Fiber Art: Sandra J. Hopkins</strong> <br/>
    website: <a href="http://sandrajhopkins.com">sandrajhopkins.com</a> <br/>
    (970) 988-5201
</p>
<a name="sirens" href="#top"><h2>Unnecessary list of registries</h2></a>
<ul>
    <li>
    <!--<a target="_blank"
        href="http://www.yourweddingregistry.com/merchgift/gl.asp">-->
        The Kitchenette<!--</a>-->
    </li>
    <li>
        <a target="_blank"
            href="http://www.myregistry.com/wedding-registry/Laura-Price-Jared-Hall-Fort-Collins-CO/697984">
            myregistry.com</a>
    </li>
    <li>
        <a target="_blank"
            href="http://www.rei.com/GiftRegistryDetails/GR94858709?cm_mmc=aff_AL-_-416-_-452-_-Custom+Link&avad=452_e6d5b1cb&url=http%3A%2F%2Fwww.rei.com%2FGiftRegistryDetails%2FGR94858709%3Fcm_mmc%3Daff_AL-_-416-_-452-_-Custom%2BLink%26avad%3D452_e6d5b1cb&avad=452_e6d5b1cb">
            REI
        </a>
    </li>
    <li>
        <a target="_blank"
            href="http://www.amazon.com/registry/wedding/2R5W8VOAJJQ98">
            amazon.com
        </a>
    </li>
    <li>
        <a target="_blank"
            href="http://www.potterybarn.com/registry/3549768/registry-list.html?bnrid=3317500&cm_ven=AfRegistry&cm_cat=MyRegistry+LLC&cm_pla=CJ&cm_ite=Std">
            Pottery Barn
        </a>
    </li>
    <li>
        <a target="_blank"
            href="http://www.westelm.com/wishlist/2td96prnwp/wishlist.html?bnrid=3917500&cm_ven=AfRegistry&cm_cat=MyRegistry+LLC&cm_pla=CJ&cm_ite=Std">
            West Elm
        </a>
    </li>
</ul>
<h2>The message board has moved under its proper label!</h2>
<p>
    Go say something strange on the <a href="messageboard">message board</a>!
</p>

{% endblock %}
